.datepickerInput {
  font-size: 14px;
  width: 100%;
  padding: 5px;
  color: #3a3a3a;
  border-radius: 5px;
  border: 1px solid #c3bcbc;
}
.datepickerInput:focus {
  outline: none;
}
.react-datepicker-wrapper {
  width: 100% !important;
}
.reactSelect {
  font-size: 14px;
  color: #3a3a3a
}